MekWars/server-dist/data/factions.dtd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jon Schattke (Scahttke Computer Services) --><!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><!ELEMENT DOCUMENT (MEGAMEKNETFACTIONDATA)><!ELEMENT MEGAMEKNETFACTIONDATA (FACTION+)><!ELEMENT FACTION (NAME, MONEY, COLOR, ABBREVIATION, ISMERCENARY, LOGO, BASEGUNNER, BASEPILOT, CONQUERABLE, INHOUSEATTACKS, MAYUSEBM, HOUSEPLAYERCOLOR, DEFECTTO, DEFECTFROM, ISNEWBIE, ID)><!ELEMENT NAME (#PCDATA)><!ELEMENT MONEY (#PCDATA)><!ELEMENT COLOR (#PCDATA)><!ELEMENT ABBREVIATION (#PCDATA)><!ELEMENT ISMERCENARY (#PCDATA)><!ELEMENT LOGO (#PCDATA)><!ELEMENT BASEGUNNER (#PCDATA)><!ELEMENT BASEPILOT (#PCDATA)><!ELEMENT CONQUERABLE (#PCDATA)><!ELEMENT INHOUSEATTACKS (#PCDATA)><!ELEMENT MAYUSEBM (#PCDATA)><!ELEMENT HOUSEPLAYERCOLOR (#PCDATA)><!ELEMENT DEFECTTO (#PCDATA)><!ELEMENT DEFECTFROM (#PCDATA)><!ELEMENT ISNEWBIE (#PCDATA)><!ELEMENT ID (#PCDATA)>