MekWars/server-dist/data/planets.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by McWizard (McW Inc.) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT ALGORITHM (#PCDATA)>
<!ELEMENT AMOUNT (#PCDATA)>
<!ELEMENT COMPPRODUCTION (#PCDATA)>
<!ELEMENT UNITFACTORY (FACTORYNAME, SIZE, )>
<!ELEMENT CRATERMAXNUM (#PCDATA)>
<!ELEMENT CRATERMAXRADIUS (#PCDATA)>
<!ELEMENT CRATERMINNUM (#PCDATA)>
<!ELEMENT CRATERMINRADIUS (#PCDATA)>
<!ELEMENT CRATERPROB (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT DOCUMENT (MEGAMEKNETPLANETDATA)>
<!ELEMENT ENVIRONMENT (ENVIRONMENTPROBABILITY, CRATERPROB, CRATERMINNUM, CRATERMAXNUM, CRATERMINRADIUS, CRATERMAXRADIUS, HILLYNESS, HILLELEVATIONRANGE, HILLINVERTPROB, WATERMINSPOTS, WATERMAXSPOTS, WATERMINHEXES, WATERMAXHEXES, WATERDEEPPROB, FORESTMINSPOTS, FORESTMAXSPOTS, FORESTMINHEXES, FORESTMAXHEXES, FORESTHEAVYPROB, ROUGHMINSPOTS, ROUGHMAXSPOTS, ROUGHMINHEXES, ROUGHMAXHEXES, ROADPROB, RIVERPROB, ALGORITHM)>
<!ELEMENT ENVIRONMENTPROBABILITY (#PCDATA)>
<!ELEMENT FACTION (#PCDATA)>
<!ELEMENT FACTORYNAME (#PCDATA)>
<!ELEMENT FORESTHEAVYPROB (#PCDATA)>
<!ELEMENT FORESTMAXHEXES (#PCDATA)>
<!ELEMENT FORESTMAXSPOTS (#PCDATA)>
<!ELEMENT FORESTMINHEXES (#PCDATA)>
<!ELEMENT FORESTMINSPOTS (#PCDATA)>
<!ELEMENT FOUNDER (#PCDATA)>
<!ELEMENT HILLELEVATIONRANGE (#PCDATA)>
<!ELEMENT HILLINVERTPROB (#PCDATA)>
<!ELEMENT HILLYNESS (#PCDATA)>
<!ELEMENT INF (FACTION, AMOUNT)>
<!ELEMENT INFLUENCE (INF)>
<!ELEMENT UNITFACTORY (FACTORYNAME, SIZE, FOUNDER, TIMEZONE, TYPE*)>
<!ELEMENT MEGAMEKNETPLANETDATA (PLANET+)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT PLANET (NAME, COMPPRODUCTION, WAREHOUSE?, UNITFACTORY*, XCOOD, YCOOD, INFLUENCE, CONTINENT+, DESCRIPTION?,XMAP*,YMAP*,XBOARD*,YBOARD*,LOWTEMP*,HITEMP*,GRAVITY*,VACUUM*)>
<!ELEMENT RIVERPROB (#PCDATA)>
<!ELEMENT ROADPROB (#PCDATA)>
<!ELEMENT ROUGHMAXHEXES (#PCDATA)>
<!ELEMENT ROUGHMAXSPOTS (#PCDATA)>
<!ELEMENT ROUGHMINHEXES (#PCDATA)>
<!ELEMENT ROUGHMINSPOTS (#PCDATA)>
<!ELEMENT SIZE (#PCDATA)>
<!ELEMENT TIMEZONE (TIMEZONENAME, TIMEZONEPROPABILITY)>
<!ELEMENT TIMEZONENAME (#PCDATA)>
<!ELEMENT TIMEZONEPROPABILITY (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT WAREHOUSE (#PCDATA)>
<!ELEMENT WATERDEEPPROB (#PCDATA)>
<!ELEMENT WATERMAXHEXES (#PCDATA)>
<!ELEMENT WATERMAXSPOTS (#PCDATA)>
<!ELEMENT WATERMINHEXES (#PCDATA)>
<!ELEMENT WATERMINSPOTS (#PCDATA)>
<!ELEMENT XCOOD (#PCDATA)>
<!ELEMENT YCOOD (#PCDATA)>
<!ELEMENT XMAP (#PCDATA)>
<!ELEMENT YMAP (#PCDATA)>
<!ELEMENT XBOARD (#PCDATA)>
<!ELEMENT YBOARD (#PCDATA)>
<!ELEMENT LOWTEMP (#PCDATA)>
<!ELEMENT HITEMP (#PCDATA)>
<!ELEMENT GRAVITY (#PCDATA)>
<!ELEMENT VACUUM (#PCDATA)>
<!ELEMENT MAP (#PCDATA)>
<!ELEMENT NIGHTCHANCE (#PCDATA)>
<!ELEMENT NIGHTMOD (#PCDATA)>
<!ELEMENT MAPNAME (#PCDATA)>
<!ELEMENT TERRAINNAME (#PCDATA)>
<!ELEMENT ORIGINALOWNER (#PCDATA)>
<!ELEMENT OPKEY (#PCDATA)>
<!ELEMENT OPNAME (#PCDATA)>
<!ELEMENT HOMEWORLD (#PCDATA)>
<!ELEMENT BUILDTABLEFOLDER (#PCDATA)>
<!ELEMENT ACCESSSLEVEL (#PCDATA)>
<!ELEMENT MINVISIBILITY (#PCDATA)>
<!ELEMENT MAXVISIBILITY (#PCDATA)>
<!ELEMENT BLIZZARDCHANCE (#PCDATA)>
<!ELEMENT BLOWINGSANDCHANCE (#PCDATA)>
<!ELEMENT HEAVYSNOWFALLCHANCE (#PCDATA)>
<!ELEMENT LIGHTRAINFALLCHANCE (#PCDATA)>
<!ELEMENT HEAVYRAINFALLCHANCE (#PCDATA)>
<!ELEMENT MODERATEWINDSCHANCE (#PCDATA)>
<!ELEMENT HIGHWINDSCHANCE (#PCDATA)>
