MekWars/server-dist/data/terrain.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by FreeUser (FreeUser Inc.) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT ALGORITHM (#PCDATA)>
<!ELEMENT CRATERMAXNUM (#PCDATA)>
<!ELEMENT CRATERMAXRADIUS (#PCDATA)>
<!ELEMENT CRATERMINNUM (#PCDATA)>
<!ELEMENT CRATERMINRADIUS (#PCDATA)>
<!ELEMENT CRATERPROB (#PCDATA)>
<!ELEMENT DOCUMENT (MEGAMEKNETTERRAINDATA)>
<!ELEMENT ENVIRONMENT (STATICMAP*, MAPNAME*, XMAP*, YMAP*, XBOARD*, YBOARD*, CRATERPROB*, CRATERMINNUM*, CRATERMAXNUM*, CRATERMINRADIUS*, CRATERMAXRADIUS*, HILLYNESS*, HILLELEVATIONRANGE*, HILLINVERTPROB*, WATERMINSPOTS*, WATERMAXSPOTS*, WATERMINHEXES*, WATERMAXHEXES*, WATERDEEPPROB*, FORESTMINSPOTS*, FORESTMAXSPOTS*, FORESTMINHEXES*, FORESTMAXHEXES*, FORESTHEAVYPROB*, ROUGHMINSPOTS*, ROUGHMAXSPOTS*, ROUGHMINHEXES*, ROUGHMAXHEXES*, ROADPROB*, CLIFFPROB*, RIVERPROB*, ALGORITHM*, SWAMPMINSPOTS*, SWAMPMAXSPOTS*, SWAMPMINHEXES*, SWAMPMAXHEXES*, PAVEMENTMINSPOTS*, PAVEMENTMAXSPOTS*, PAVEMENTMINHEXES*, PAVEMENTMAXHEXES*, ICEMINSPOTS*, ICEMAXSPOTS*, ICEMINHEXES*, ICEMAXHEXES*, RUBBLEMINSPOTS*, RUBBLEMAXSPOTS*, RUBBLEMINHEXES*, RUBBLEMAXHEXES*, SANDMINSPOTS*, SANDMAXSPOTS*, SANDMINHEXES*, SANDMAXHEXES*, PLANTEDFIELDMINSPOTS*, PLANTEDFIELDMAXSPOTS*, PLANTEDFIELDMINHEXES*, PLANTEDFIELDMAXHEXES*, FORTIFIEDMINSPOTS*, FORTIFIEDMAXSPOTS*, FORTIFIEDMINHEXES*, FORTIFIEDMAXHEXES*, CITYBLOCKS*, CITYTYPE*, MOUNTPEAKS*, MOUNTWIDTHMIN*, MOUNTWIDTHMAX*, MOUNTHEIGHTMIN*, MOUNTHEIGHTMAX*, MOUNTSTYLE*, MINCF*, MAXCF*, MINFLOORS*, MAXFLOORS*, CITYDENSITY*, FXMOD*, PROBFORESTFIRE*, PROBFREEZE*, PROBFLOOD*, PROBDROUGHT*, THEME?)>
<!ELEMENT ENVIRONMENTPROBABILITY (#PCDATA)>
<!ELEMENT FORESTHEAVYPROB (#PCDATA)>
<!ELEMENT FORESTMAXHEXES (#PCDATA)>
<!ELEMENT FORESTMAXSPOTS (#PCDATA)>
<!ELEMENT FORESTMINHEXES (#PCDATA)>
<!ELEMENT FORESTMINSPOTS (#PCDATA)>
<!ELEMENT HILLELEVATIONRANGE (#PCDATA)>
<!ELEMENT HILLINVERTPROB (#PCDATA)>
<!ELEMENT HILLYNESS (#PCDATA)>
<!ELEMENT MEGAMEKNETTERRAINDATA (TERRAIN+)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT RIVERPROB (#PCDATA)>
<!ELEMENT ROADPROB (#PCDATA)>
<!ELEMENT ROUGHMAXHEXES (#PCDATA)>
<!ELEMENT ROUGHMAXSPOTS (#PCDATA)>
<!ELEMENT ROUGHMINHEXES (#PCDATA)>
<!ELEMENT ROUGHMINSPOTS (#PCDATA)>
<!ELEMENT TERRAIN (NAME, ENVIRONMENT)>
<!ELEMENT WATERDEEPPROB (#PCDATA)>
<!ELEMENT WATERMAXHEXES (#PCDATA)>
<!ELEMENT WATERMAXSPOTS (#PCDATA)>
<!ELEMENT WATERMINHEXES (#PCDATA)>
<!ELEMENT WATERMINSPOTS (#PCDATA)>
<!ELEMENT SWAMPMINSPOTS (#PCDATA)>
<!ELEMENT SWAMPMAXSPOTS (#PCDATA)>
<!ELEMENT SWAMPMINHEXES (#PCDATA)>
<!ELEMENT SWAMPMAXHEXES (#PCDATA)>
<!ELEMENT PAVEMENTMINSPOTS (#PCDATA)>
<!ELEMENT PAVEMENTMAXSPOTS (#PCDATA)>
<!ELEMENT PAVEMENTMINHEXES (#PCDATA)>
<!ELEMENT PAVEMENTMAXHEXES (#PCDATA)>
<!ELEMENT ICEMINSPOTS (#PCDATA)>
<!ELEMENT ICEMAXSPOTS (#PCDATA)>
<!ELEMENT ICEMINHEXES (#PCDATA)>
<!ELEMENT ICEMAXHEXES (#PCDATA)>
<!ELEMENT RUBBLEMINSPOTS (#PCDATA)>
<!ELEMENT RUBBLEMAXSPOTS (#PCDATA)>
<!ELEMENT RUBBLEMINHEXES (#PCDATA)>
<!ELEMENT RUBBLEMAXHEXES (#PCDATA)>
<!ELEMENT SANDMINSPOTS (#PCDATA)>
<!ELEMENT SANDMAXSPOTS (#PCDATA)>
<!ELEMENT SANDMINHEXES (#PCDATA)>
<!ELEMENT SANDMAXHEXES (#PCDATA)>
<!ELEMENT PLANTEDFIELDMINSPOTS (#PCDATA)>
<!ELEMENT PLANTEDFIELDMAXSPOTS (#PCDATA)>
<!ELEMENT PLANTEDFIELDMINHEXES (#PCDATA)>
<!ELEMENT PLANTEDFIELDMAXHEXES (#PCDATA)>
<!ELEMENT FORTIFIEDMINSPOTS (#PCDATA)>
<!ELEMENT FORTIFIEDMAXSPOTS (#PCDATA)>
<!ELEMENT FORTIFIEDMINHEXES (#PCDATA)>
<!ELEMENT FORTIFIEDMAXHEXES (#PCDATA)>
<!ELEMENT CITYBLOCKS (#PCDATA)>
<!ELEMENT CITYTYPE (#PCDATA)>
<!ELEMENT MOUNTPEAKS (#PCDATA)>
<!ELEMENT MOUNTWIDTHMIN (#PCDATA)>
<!ELEMENT MOUNTWIDTHMAX (#PCDATA)>
<!ELEMENT MOUNTHEIGHTMIN (#PCDATA)>
<!ELEMENT MOUNTHEIGHTMAX (#PCDATA)>
<!ELEMENT MOUNTSTYLE (#PCDATA)>
<!ELEMENT MINCF (#PCDATA)>
<!ELEMENT MAXCF (#PCDATA)>
<!ELEMENT MINFLOORS (#PCDATA)>
<!ELEMENT MAXFLOORS (#PCDATA)>
<!ELEMENT CITYDENSITY (#PCDATA)>
<!ELEMENT THEME (#PCDATA)>
<!ELEMENT STATICMAP (#PCDATA)>
<!ELEMENT MAPNAME (#PCDATA)>
<!ELEMENT XMAP (#PCDATA)>
<!ELEMENT YMAP (#PCDATA)>
<!ELEMENT XBOARD (#PCDATA)>
<!ELEMENT YBOARD (#PCDATA)>
